<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--      filter-->
    <filter>
        <filter-name>home_filter</filter-name>
        <filter-class>Filter.home_filter</filter-class>
    </filter>
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>Filter.filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>home_filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>Guest.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAccount</servlet-name>
        <servlet-class>controller.ConfirmAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnpayController</servlet-name>
        <servlet-class>VNPay.VnpayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeScheduleServlet</servlet-name>
        <servlet-class>Mentee.MenteeScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorScheduleController</servlet-name>
        <servlet-class>Mentor.ViewMentorScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeRequest</servlet-name>
        <servlet-class>Mentee.MenteeRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorScheduleServlet</servlet-name>
        <servlet-class>Mentor.ScheduleRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMoneyController</servlet-name>
        <servlet-class>controller.PayMoneyController</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>AcceptSchedule</servlet-name>
        <servlet-class>AcceptSchedule</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>AdminManagerRequest</servlet-name>
        <servlet-class>admin.AdminManagerRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerScheduleRequest</servlet-name>
        <servlet-class>admin.AdminManagerScheduleRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAccount</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnpayController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeRequest</servlet-name>
        <url-pattern>/menteeRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeScheduleServlet</servlet-name>
        <url-pattern>/MenteeSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorScheduleServlet</servlet-name>
        <url-pattern>/MentorSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayMoneyController</servlet-name>
        <url-pattern>/payMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorScheduleController</servlet-name>
        <url-pattern>/viewMentorSchedule</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>AcceptSchedule</servlet-name>
        <url-pattern>/acceptschedule</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AdminManagerRequest</servlet-name>
        <url-pattern>/adminManagerRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerScheduleRequest</servlet-name>
        <url-pattern>/adminManagerScheduleRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
